/* Coded with love by Mutiullah Samim */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("/login/parkingOwnerLogin/img/header-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #D3D3D3;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #696969 !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #696969 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #696969 !important;
}

.ortala{
    text-align: center;
    margin: auto;

}

#mainNav {
    background-color: #212529;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #fed136;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
    }
}


@media screen and (max-width: 960px) {
    .user_card{
        margin-top:20%;
    }

    .brand_logo_container{
        height: 170px;
        width: 170px;
        top:-55px;
    }

    .brand_logo {
        height: 150px;
        width: 150px;
    }


}

@media screen and (max-width: 530px) {
    .user_card{
        margin-top:30%;
    }

    .brand_logo_container{
        height: 150px;
        width: 150px;
        top:-55px;
    }

    .brand_logo {
        height: 130px;
        width: 130px;
    }

    form{
        font-size: 15px; !important;
    }

    .mt-4{
        font-size: 15px; !important;
    }

    .form_container .form-control {
        font-size: 15px; !important;
    }

    .form_container .btn {
        font-size: 15px; !important;
    }



}

@media screen and (max-width: 350px) {
    .user_card{
        margin-top:30%;
        height: 350px;
    }

    .brand_logo_container{
        height: 130px;
        width: 130px;
        top:-35px;
    }

    .brand_logo {
        height: 110px;
        width: 110px;
    }

    form{
        font-size: 13px; !important;
    }

    .mt-4{
        font-size: 13px; !important;
    }

    .form_container .form-control {
        font-size: 13px; !important;
    }

    .form_container .btn {
        font-size: 13px; !important;
    }


}

@media screen and (max-width: 270px) {
    .user_card{
        margin-top:40%;
        height: 350px;
    }

    .brand_logo_container{
        height: 110px;
        width: 110px;
        top:-20px;
    }

    .brand_logo {
        height: 90px;
        width: 90px;
    }

    form{
        font-size: 12px; !important;
    }
    .mt-4{
        font-size: 12px; !important;
    }

    .form_container .form-control {
        font-size: 12px; !important;
    }

    .form_container .btn {
        font-size: 12px; !important;
    }

}